#import("BiocGenerics")
#import("methods")
#import("amap")
#import("dendsort")
#import("dplyr")
#import("knitr")
#import("stringr")
#import("grid") 
#import("scales") 
#import("stats") 
#import("grDevices") 
#import("graphics")
#import("knitr")
#import("Biobase")
#import("RColorBrewer")
#import("ggplot2")
#import("survival")
#import("maxstat")
#import("forestplot")
#import("beeswarm")

# from pheatmapwh
export("pheatmapwh")

# from survplot
export("survplot")

# from addons
export("giveDrugLabel")
export("meltWholeDF")
export("moround")
export("smunlist")
export("toCaps")
export("stripConc")
export("scientific_10")
export("giveConcID")
export("log10div")
export("exp10div")
export("percentAxisScale")
export("col2hex")